@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    @Styles.Render("~/styles/bootstrap")
    @Scripts.Render("~/src/bootstrap")

    @Scripts.Render("~/src/angular")
    @Scripts.Render("~/app/js")
</head>
<body>
<div id="page-wrapper"
     ng-app="app">
    <div class="btn-group">
        <button type="button"
                ui-sref="students"
                class="btn btn-primary">Студенты</button>
        <button type="button"
                ui-sref="projects"
                class="btn btn-primary">Проекты</button>
        <button type="button"
                ui-sref="groups"
                class="btn btn-primary">Группы</button>
    </div>
    <div ui-view></div>
</div>
</body>
</html>
